mne==1.7.0
pyEDFlib==0.1.34
pandas==2.2.1
numpy==1.26.4
scipy==1.13.0
matplotlib==3.8.4
jupyterlab>=4.2.0,<4.3
mne-bids
antspyx
nibabel
nilearn
fastdtw
mne-connectivity
scikit-learn
antspynet
matplotlib
torch
pennylane
scikit-image
imblearn 
tensorflow 
keras 
graphviz
